.font1 {
	FONT-SIZE: 12px; LINE-HEIGHT: 120%; FONT-FAMILY: "Ш^"
}
.font2 {
	FONT-SIZE: 12px; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.font3 {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; LINE-HEIGHT: 17px; FONT-FAMILY: "Ш^"
}
.font3copy {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; LINE-HEIGHT: 17px; FONT-FAMILY: "Ш^"
}
.font4 {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; FONT-FAMILY: "Arial"
}
.font7 {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; LINE-HEIGHT: 150%; FONT-FAMILY: "堵^"
}
.font8 {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; LINE-HEIGHT: 150%; FONT-FAMILY: "堵^"
}
.font10 {
	FONT-SIZE: 14px; LINE-HEIGHT: 150%; FONT-FAMILY: "Ш^"
}
A.BAR:link {
	FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: "Ш^"; TEXT-DECORATION: none
}
A.BAR:active {
	FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: "Ш^"; TEXT-DECORATION: none
}
A.BAR:visited {
	FONT-SIZE: 13px; COLOR: #ffff00; FONT-FAMILY: "Ш^"; TEXT-DECORATION: none
}
A.BAR:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #00ff00; FONT-FAMILY: "Ш^"; TEXT-DECORATION: underline
}
.font7Copy {
	FONT-WEIGHT: normal; FONT-SIZE: 24px; LINE-HEIGHT: 110%; FONT-FAMILY: "堵^"
}
.font8Copy {
	FONT-WEIGHT: normal; FONT-SIZE: 15px; LINE-HEIGHT: 120%; FONT-FAMILY: "Ш^"
}
.font4Copy {
	FONT-WEIGHT: normal; FONT-SIZE: 12px; FONT-FAMILY: "Arial"
}
.font8Copy2 {
	FONT-WEIGHT: normal; FONT-SIZE: 16px; LINE-HEIGHT: 200%; FONT-FAMILY: "Ш^"
}
.font6 {
	FONT-SIZE: 14px; LINE-HEIGHT: 150%; FONT-FAMILY: "发^_GB2312"
}
.font7Copy2 {
	FONT-WEIGHT: bold; FONT-SIZE: 48px; COLOR: #ffff00; LINE-HEIGHT: 120%; FONT-FAMILY: "Ш^"
}
.font8Copy3 {
	FONT-WEIGHT: normal; FONT-SIZE: 22px; LINE-HEIGHT: 300%; FONT-FAMILY: "Ш^"
}
.font6Copy1 {
	FONT-SIZE: 14px; LINE-HEIGHT: 120%; FONT-FAMILY: "Ш^"
}
.font2Copy2 {
	FONT-SIZE: 8px; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.font9Copy1 {
	FONT-SIZE: 13px; COLOR: #cc6600; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.font10Copy {
	FONT-SIZE: 13px; LINE-HEIGHT: 150%; FONT-FAMILY: "Ш^"
}
.font10Copy1 {
	FONT-SIZE: 16px; LINE-HEIGHT: 150%; FONT-FAMILY: "Ш^"
}
.font10Copy2 {
	FONT-SIZE: 13px; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.font8Copy4 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; LINE-HEIGHT: 200%; FONT-FAMILY: "发^_GB2312"
}
.font9copy8 {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #000099; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.font1copy1 {
	FONT-SIZE: 12px; LINE-HEIGHT: 150%; FONT-FAMILY: "Ш^"
}
.font7copy1 {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; LINE-HEIGHT: 150%; FONT-FAMILY: "Ш^"
}
A.BAR1:link {
	FONT-SIZE: 12px; COLOR: #555555; FONT-FAMILY: "Ш^"
}
A.BAR1:active {
	FONT-SIZE: 12px; COLOR: #555555; FONT-FAMILY: "Ш^"
}
A.BAR1:visited {
	FONT-SIZE: 12px; COLOR: #6c0023; FONT-FAMILY: "Ш^"
}
A.BAR1:hover {
	FONT-SIZE: 12px; COLOR: #008800; FONT-FAMILY: "Ш^"
}
.font10copy4 {
	FONT-SIZE: 14px; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.font9copy9 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #000099; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.font9Copy3 {
	FONT-SIZE: 14px; COLOR: #cc0000; LINE-HEIGHT: 120%; FONT-FAMILY: "Ш^"; TEXT-ALIGN: center
}
.font9copy10 {
	FONT-WEIGHT: normal; FONT-SIZE: 14px; COLOR: #cc3300; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.h21 {
	FONT-WEIGHT: bolder; FONT-SIZE: 28px; COLOR: #cc6633; LINE-HEIGHT: 120%; FONT-FAMILY: "发^_GB2312"; TEXT-ALIGN: center
}
.h22 {
	FONT-WEIGHT: bolder; FONT-SIZE: 28px; COLOR: #009999; LINE-HEIGHT: 100%; FONT-FAMILY: "发^_GB2312"; TEXT-ALIGN: center
}
.h23 {
	FONT-WEIGHT: bold; FONT-SIZE: 28px; COLOR: #009966; LINE-HEIGHT: 150%; FONT-FAMILY: "ラШ_GB2312"; TEXT-ALIGN: center
}
.h24 {
	FONT-WEIGHT: bold; FONT-SIZE: 28px; COLOR: #176baa; LINE-HEIGHT: 120%; FONT-FAMILY: "Ш^"; TEXT-ALIGN: center
}
.h21Copy {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #cc6633; LINE-HEIGHT: 120%; FONT-FAMILY: "发^_GB2312"; TEXT-ALIGN: center
}
.h22Copy {
	FONT-WEIGHT: bold; FONT-SIZE: 22px; COLOR: #009999; LINE-HEIGHT: 100%; FONT-FAMILY: "发^_GB2312"; TEXT-ALIGN: center
}
.h22Copy1 {
	FONT-WEIGHT: bold; FONT-SIZE: 19px; COLOR: #009999; LINE-HEIGHT: 120%; FONT-FAMILY: "发^_GB2312"; TEXT-ALIGN: center
}
.font1Copy {
	FONT-SIZE: 13px; LINE-HEIGHT: 120%; FONT-FAMILY: "Ш^"
}
.font10Copy3 {
	FONT-SIZE: 13px; LINE-HEIGHT: 200%; FONT-FAMILY: "Ш^"
}
.h24Copy {
	FONT-WEIGHT: normal; FONT-SIZE: 18px; COLOR: #176baa; LINE-HEIGHT: 120%; FONT-FAMILY: "堵^"; TEXT-ALIGN: center
}
.h21copy1 {
	FONT-WEIGHT: bold; FONT-SIZE: 19px; COLOR: #cc6633; LINE-HEIGHT: 150%; FONT-FAMILY: "发^_GB2312"; TEXT-ALIGN: center
}
.p13 {
	FONT-SIZE: 13px; COLOR: #333333; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.p13copy {
	FONT-SIZE: 13px; COLOR: #333333; TEXT-INDENT: 26px; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.font7copy3 {
	FONT-WEIGHT: bold; FONT-SIZE: 36px; LINE-HEIGHT: 120%; FONT-FAMILY: "Ш^"
}
.h23copy {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; COLOR: #009966; LINE-HEIGHT: 150%; FONT-FAMILY: "ラШ_GB2312"; TEXT-ALIGN: center
}
.Songti {
	FONT-SIZE: 22px; LINE-HEIGHT: 20px; FONT-FAMILY: "ラШ_GB2312"
}
A.BAR2:link {
	FONT-SIZE: 13px; COLOR: #0000ff; FONT-FAMILY: "Ш^"; TEXT-DECORATION: none
}
A.BAR2:active {
	FONT-SIZE: 13px; COLOR: #555555; FONT-FAMILY: "Ш^"; TEXT-DECORATION: none
}
A.BAR2:visited {
	FONT-SIZE: 13px; COLOR: #800040; FONT-FAMILY: "Ш^"; TEXT-DECORATION: none
}
A.BAR2:hover {
	FONT-SIZE: 13px; COLOR: #008800; FONT-FAMILY: "Ш^"; TEXT-DECORATION: none
}
A.BAR3:link {
	FONT-SIZE: 12px; COLOR: #555555; FONT-FAMILY: "Ш^"
}
A.BAR3:active {
	FONT-SIZE: 12px; COLOR: #555555; FONT-FAMILY: "Ш^"
}
A.BAR3:visited {
	FONT-SIZE: 12px; COLOR: #6c0023; FONT-FAMILY: "Ш^"
}
A.BAR3:hover {
	FONT-SIZE: 12px; COLOR: #008800; FONT-FAMILY: "Ш^"
}
A.BAR4:link {
	FONT-SIZE: 13px; COLOR: #ffff00; FONT-FAMILY: "Ш^"; TEXT-DECORATION: underline
}
A.BAR4:active {
	FONT-SIZE: 13px; COLOR: #ffff00; FONT-FAMILY: "Ш^"; TEXT-DECORATION: underline
}
A.BAR4:visited {
	FONT-SIZE: 13px; COLOR: #ffffff; FONT-FAMILY: "Ш^"; TEXT-DECORATION: underline
}
A.BAR4:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #00ff00; FONT-FAMILY: "Ш^"; TEXT-DECORATION: underline
}
.p13-1 {
	MARGIN-TOP: 0px; FONT-SIZE: 13px; MARGIN-BOTTOM: 0px; COLOR: #333333; TEXT-INDENT: 26px; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.p13-2 {
	MARGIN-TOP: 0px; FONT-SIZE: 13px; MARGIN-BOTTOM: 0px; COLOR: #333333; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.p13-1copy {
	MARGIN-TOP: 6px; FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-BOTTOM: 0px; COLOR: #333333; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"; TEXT-ALIGN: center
}
A.BAR5:link {
	FONT-SIZE: 13px; COLOR: #00ffff; FONT-FAMILY: "Ш^"; TEXT-DECORATION: underline
}
A.BAR5:active {
	FONT-SIZE: 13px; COLOR: #00ffff; FONT-FAMILY: "Ш^"; TEXT-DECORATION: underline
}
A.BAR5:visited {
	FONT-SIZE: 13px; COLOR: #ffff00; FONT-FAMILY: "Ш^"; TEXT-DECORATION: underline
}
A.BAR5:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 13px; COLOR: #00ff00; FONT-FAMILY: "Ш^"; TEXT-DECORATION: underline
}
.p13-3 {
	MARGIN-TOP: 0px; FONT-SIZE: 13px; MARGIN-BOTTOM: 0px; COLOR: #333333; LINE-HEIGHT: 130%; FONT-FAMILY: "Ш^"
}
.p13-4 {
	MARGIN-TOP: 4px; FONT-SIZE: 13px; MARGIN-BOTTOM: 8px; COLOR: #333333; LINE-HEIGHT: 130%; FONT-FAMILY: "Ш^"
}
.p13-2copy {
	MARGIN-TOP: 6px; FONT-WEIGHT: bold; FONT-SIZE: 13px; MARGIN-BOTTOM: 0px; COLOR: #333333; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.h23glow {
	FONT-WEIGHT: bolder; FONT-SIZE: 28px; FILTER: Glow(Color=red, Strength=5); COLOR: #009900; LINE-HEIGHT: 150%; FONT-FAMILY: "Ш^"; TEXT-ALIGN: center
}
.font7shadow {
	FONT-WEIGHT: bold; FONT-SIZE: 26px; FILTER: Shadow(Color=cc9966, Direction=145); COLOR: #333333; LINE-HEIGHT: 110%; FONT-FAMILY: "发^_GB2312"
}
.font8copy5 {
	FONT-WEIGHT: bold; FONT-SIZE: 18px; LINE-HEIGHT: 200%; FONT-FAMILY: "发^_GB2312"
}
.p13-5 {
	MARGIN-TOP: 6px; FONT-SIZE: 13px; MARGIN-BOTTOM: 6px; COLOR: #333333; TEXT-INDENT: 26px; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.p13-6 {
	MARGIN-TOP: 6px; FONT-WEIGHT: bold; FONT-SIZE: 14px; MARGIN-BOTTOM: 0px; COLOR: #333333; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.p13-5Copy {
	MARGIN-TOP: 6px; FONT-SIZE: 13px; MARGIN-BOTTOM: 6px; COLOR: #333333; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"
}
.font7copy4 {
	FONT-WEIGHT: bold; FONT-SIZE: 48px; COLOR: #330000; LINE-HEIGHT: 120%; FONT-FAMILY: "Ш^"
}
#070419 {
	FONT-WEIGHT: bold; FONT-SIZE: 24px; FILTER: Glow(Color=#ffff00, Strength=4); COLOR: #ff0000; FONT-STYLE: italic; FONT-FAMILY: "ラШ_GB2312"
}
.font11 {
	PADDING-RIGHT: 4px; PADDING-LEFT: 8px; FONT-SIZE: 14px; MARGIN: 5px auto; COLOR: #333333; TEXT-INDENT: 40px; LINE-HEIGHT: 180%; FONT-FAMILY: "Ш^"; LETTER-SPACING: 1px; TEXT-ALIGN: left
}
